---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from '../components/Hero.astro';
import ContentSection from '../components/ContentSection.astro';
---

<BaseLayout title="James Elner">
    <div class="page-wrapper">
        <Hero />

        <main class="main-content">
            <ContentSection />
        </main>
    </div>
</BaseLayout>

<style>
    .page-wrapper {
        display: flex;
        min-height: 100vh;
    }

    .main-content {
        margin-left: 35%;
        width: 65%;
    }

    @media (max-width: 1024px) {
        .page-wrapper {
            flex-direction: column;
        }

        .main-content {
            margin-left: 0;
            width: 100%;
        }
    }
</style>